<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Matriz de traslados</h2>
                <div class="table-responsive">
                    <table class="table mb-4">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col"> Arboledas <br>
                          </th>
                          <th scope="col">
                            Estaca La Libertad<br>
                          </th>
                          <th scope="col">
                            Manantiales<br>
                          </th>
                          <th scope="col">
                            Instituto Fuertes<br>
                          </th>
                          <th scope="col">
                            Bosques de Aragón<br>
                          </th>
                          <th scope="col">
                            Oficinas de MIsión<br>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th class="text-nowrap" scope="row">Arboledas </th>
                          <td>0min</td>
                          <td>14min</td>
                          <td>33min</td>
                          <td>31min</td>
                          <td>16min</td>
                          <td>37min</td>
                        </tr>
                        <tr>
                          <th class="text-nowrap" scope="row">Estaca La LIbertad</th>
                          <td>21min</td>
                          <td>0min</td>
                          <td>23min</td>
                          <td>41min</td>
                          <td>19min</td>
                          <td>17min</td>
                        </tr>
                        <tr>
                          <th class="text-nowrap" scope="row">Manantiales</th>
                          <td>30min</td>
                          <td>11min</td>
                          <td>0min</td>
                          <td>32min</td>
                          <td>12min</td>
                          <td>36min</td>
                        </tr>
                        <tr>
                          <th class="text-nowrap" scope="row">INstituto Fuertes</th>
                          <td>24min</td>
                          <td>14min</td>
                          <td>33min</td>
                          <td>0min</td>
                          <td>16min</td>
                          <td>37min</td>
                        </tr>
                        <tr>
                          <th class="text-nowrap" scope="row">Bosques de Aragón</th>
                          <td>21min</td>
                          <td>34min</td>
                          <td>23min</td>
                          <td>41min</td>
                          <td>0min</td>
                          <td>17min</td>
                        </tr>
                        <tr>
                          <th class="text-nowrap" scope="row">Oficinas de Misión</th>
                          <td>30min</td>
                          <td>11min</td>
                          <td>18min</td>
                          <td>32min</td>
                          <td>12min</td>
                          <td>0min</td>
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
</div>
