<div class="demo-checkbox">
    <input type="checkbox" id="md_checkbox_1" class="chk-col-red" checked="">
    <label for="md_checkbox_1">Red</label>
    <input type="checkbox" id="md_checkbox_2" class="chk-col-pink" checked="">
    <label for="md_checkbox_2">Pink</label>
    <input type="checkbox" id="md_checkbox_3" class="chk-col-purple" checked="">
    <label for="md_checkbox_3">Purple</label>
    <input type="checkbox" id="md_checkbox_4" class="chk-col-deep-purple" checked="">
    <label for="md_checkbox_4">Deep Purple</label>
    <input type="checkbox" id="md_checkbox_5" class="chk-col-indigo" checked="">
    <label for="md_checkbox_5">Indigo</label>
    <input type="checkbox" id="md_checkbox_6" class="chk-col-blue" checked="">
    <label for="md_checkbox_6">Blue</label>
    <input type="checkbox" id="md_checkbox_7" class="chk-col-light-blue" checked="">
    <label for="md_checkbox_7">Light Blue</label>
    <input type="checkbox" id="md_checkbox_8" class="chk-col-cyan" checked="">
    <label for="md_checkbox_8">Cyan</label>
    <input type="checkbox" id="md_checkbox_9" class="chk-col-teal" checked="">
    <label for="md_checkbox_9">Teal</label>
    <input type="checkbox" id="md_checkbox_10" class="chk-col-green" checked="">
    <label for="md_checkbox_10">Green</label>
    <input type="checkbox" id="md_checkbox_11" class="chk-col-light-green" checked="">
    <label for="md_checkbox_11">Light Green</label>
    <input type="checkbox" id="md_checkbox_12" class="chk-col-lime" checked="">
    <label for="md_checkbox_12">Lime</label>
    <input type="checkbox" id="md_checkbox_13" class="chk-col-yellow" checked="">
    <label for="md_checkbox_13">Yellow</label>
    <input type="checkbox" id="md_checkbox_14" class="chk-col-amber" checked="">
    <label for="md_checkbox_14">Amber</label>
    <input type="checkbox" id="md_checkbox_15" class="chk-col-orange" checked="">
    <label for="md_checkbox_15">Orange</label>
    <input type="checkbox" id="md_checkbox_16" class="chk-col-deep-orange" checked="">
    <label for="md_checkbox_16">Deep Orange</label>
    <input type="checkbox" id="md_checkbox_17" class="chk-col-brown" checked="">
    <label for="md_checkbox_17">Brown</label>
    <input type="checkbox" id="md_checkbox_18" class="chk-col-grey" checked="">
    <label for="md_checkbox_18">Grey</label>
    <input type="checkbox" id="md_checkbox_19" class="chk-col-blue-grey" checked="">
    <label for="md_checkbox_19">Blue Grey</label>
    <input type="checkbox" id="md_checkbox_20" class="chk-col-black" checked="">
    <label for="md_checkbox_20">Black</label>
</div>
