<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">OT's Activas</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Folio</th>
                                <th>Edificio</th>
                                <th>Técnico</th>
                                <th>Prioridad</th>
                                <th>Area</th>
                                <th>Elemento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>E-7856R</td>
                                <td>Fresnos</td>
                                <td>Mateo Pérez</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td>Electrica</td>
                                <td>Bomba Agua</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>E-7812R</td>
                                <td>Angelópolis</td>
                                <td>Pablo Gómez</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td>Electrica</td>
                                <td>Audio</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>E-7859C</td>
                                <td>Manantiales</td>
                                <td>Marcos López</td>
                                <td><span class="label label-warning">Media</span> </td>
                                <td>Albañilería</td>
                                <td>Piso exterior</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>E-7802A</td>
                                <td>Instituto Juarez</td>
                                <td>Lucas Robles</td>
                                <td><span class="label label-warning">Media</span> </td>
                                <td>Plomería</td>
                                <td>Baño mujeres</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>E-7816C</td>
                                <td>Estaca Apodaca</td>
                                <td>María Quiroz</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td>Electrica</td>
                                <td>Preventivo</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>E-6435R</td>
                                <td>Amalucan</td>
                                <td>Gerardo Infante</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td>Albañileria</td>
                                <td>Pared externa</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>E-4321A</td>
                                <td>Cholula</td>
                                <td>Esther Martínez</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td>Contratista</td>
                                <td>Preventivo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>