<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4>Rutina de Revisión Eléctrica</h4>
                <h5>Periodicidad: mensual</h5>
                <h5>Tareas:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tomar mediciones de voltaje</li>
                    <li class="list-group-item">Revisar funcionamiento de contactos</li>
                    <li class="list-group-item">Revisar estado de cableado</li>
                    <li class="list-group-item">Verificar alumbrado</li>
                    <li class="list-group-item">Verificar contactos</li>
                  </ul>
                  <div>

                      <button class="btn btn-outline-info btnrounded" type="button">Editar</button>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4>Rutina de Revisión Eléctrica</h4>
                <h5>Periodicidad: mensual</h5>
                <h5>Tareas:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tomar mediciones de voltaje</li>
                    <li class="list-group-item">Revisar funcionamiento de contactos</li>
                    <li class="list-group-item">Revisar estado de cableado</li>
                    <li class="list-group-item">Verificar alumbrado</li>
                    <li class="list-group-item">Verificar contactos</li>
                  </ul>
                  <div>

                      <button class="btn btn-outline-info btnrounded" type="button">Editar</button>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4>Rutina de Revisión Eléctrica</h4>
                <h5>Periodicidad: mensual</h5>
                <h5>Tareas:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tomar mediciones de voltaje</li>
                    <li class="list-group-item">Revisar funcionamiento de contactos</li>
                    <li class="list-group-item">Revisar estado de cableado</li>
                    <li class="list-group-item">Verificar alumbrado</li>
                    <li class="list-group-item">Verificar contactos</li>
                  </ul>
                  <div>

                      <button class="btn btn-outline-info btnrounded" type="button">Editar</button>
                  </div>
            </div>
        </div>
    </div>
    
</div>
