<!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-profile">
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="./assets/images/users/profile.png" alt="user" /><span class="hide-menu">Usuario x </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="javascript:void()">Perfil </a></li>
                                <li><a href="javascript:void()">Inbox</a></li>
                                <li><a href="javascript:void()">Conficuración de la cuenta</a></li>
                                <li><a href="javascript:void()">Salir</a></li>
                            </ul>
                        </li>
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">PERSONAL</li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="index.html">OT's activas </a></li>
                                <li><a href="index2.html">Eventos próximos</a></li>
                                <li><a href="index3.html">Mensajes</a></li>
                            </ul>


                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Edificios</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="app-calendar.html">Por Zona</a></li>
                                <li><a href="app-chat.html">Alfabético</a></li>
                                <li><a href="app-ticket.html">Por Técnico</a></li>
                                <li><a href="app-contact.html">Por Area de trabajo</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Mensajes<span class="label label-rouded label-danger pull-right">25</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="app-email.html">Bandeja de correo</a></li>
                                <li><a href="app-email-detail.html">Detalles de la bandeja</a></li>
                                <li><a href="app-compose.html">Redactar correo nuevo</a></li>
                            </ul>
                        </li>
                        
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Documentos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="form-basic.html">Rutinas</a></li>
                                <li><a href="form-layout.html">Check list's</a></li>
                                <li><a href="form-addons.html">Normativas</a></li>
                            </ul>
                        </li>
                        
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Insumos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="widget-data.html">Refacciones disponibles</a></li>
                                <li><a href="widget-apps.html">Herramientas</a></li>
                                <li><a href="widget-charts.html">Material</a></li>

                            </ul>
                        </li>
                       
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-multiple"></i><span class="hide-menu">Ordenes de Trabajo <span class="label label-rouded label-success pull-right">25</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="layout-single-column.html">Generar OT</a></li>
                                <li><a href="layout-fix-header.html">Cancelar OT</a></li>
                                <li><a href="layout-fix-sidebar.html">Seguimiento de OT</a></li>
                                <li><a href="layout-fix-header-sidebar.html">Evidencias</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Directorio técnicos </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="starter-kit.html">Por Alfabeto</a></li>
                                <li><a href="pages-blank.html">Por Zona</a></li>
                                <li><a href="pages-profile.html">Por Area de trabajo</a></li>
                                <li><a href="pages-animation.html">Trabajos realizados</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Gráficas</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="chart-morris.html">Morris Chart</a></li>
                                <li><a href="chart-chartist.html">Chartis Chart</a></li>
                                <li><a href="chart-echart.html">Echarts</a></li>
                                <li><a href="chart-flot.html">Flot Chart</a></li>
                                <li><a href="chart-knob.html">Knob Chart</a></li>
                                <li><a href="chart-chart-js.html">Chartjs</a></li>
                                <li><a href="chart-sparkline.html">Sparkline Chart</a></li>
                                <li><a href="chart-extra-chart.html">Extra chart</a></li>
                                <li><a href="chart-peity.html">Peity Charts</a></li>
                            </ul>
                        </li>
                        
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Calendario</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="table-basic.html">Por semana</a></li>
                                <li><a href="table-layout.html">Por mes</a></li>
                                <li><a href="table-data-table.html">Por año</a></li>
                            </ul>
                        </li>

                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-map-marker"></i><span class="hide-menu">Mapas</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="map-google.html">Google Maps</a></li>
                                <li><a href="map-vector.html">Vector Maps</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Trabajos no rutinarios</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Emergencias</a></li>
                                <li><a href="#">Eventos</a></li>
                            </ul>
                        </li> 
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
