<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="align-self-center">
                        <h2 class="card-title text-center">OT's Activas Hoy</h2>
                    </div>
                    <div class="ml-auto">
                        <input type="text" id="demo-input-search2" placeholder="Buscar OT" class="form-control"> </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Folio</th>
                                <th>Edificio</th>
                                <th>Técnico</th>
                                <th>Prioridad</th>
                                <th>Area</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a routerLink="/dashboard/cancel"> E-7856R </a></td>
                                <td>Fresnos</td>
                                <td>Mateo Pérez</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td>Electrica</td>
                                <td class="text-danger"><strong>Correctivo</strong></td>
                                <td><span class="label label-primary">Despachada</span> </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>E-7812R</td>
                                <td>Angelópolis</td>
                                <td>Pablo Gómez</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td>Electrica</td>
                                <td class="text-danger"><strong>Correctivo</strong></td>
                                <td><span class="label label-info">En proceso</span> </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>E-7856R</td>
                                <td>Lomas</td>
                                <td>Santiago Suarez</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td>Varias</td>
                                <td class="text-info"><strong>Visita</strong></td>
                                <td><span class="label label-primary">Despachada</span> </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>E-7859C</td>
                                <td>Manantiales</td>
                                <td>Marcos López</td>
                                <td><span class="label label-warning">Media</span> </td>
                                <td>Albañilería</td>
                                <td class="text-warning"><strong>Preventivo</strong></td>
                                <td><span class="label label-success">Concluida</span> </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>E-7802A</td>
                                <td>Instituto Juarez</td>
                                <td>Lucas Robles</td>
                                <td><span class="label label-warning">Media</span> </td>
                                <td>Plomería</td>
                                <td class="text-warning"><strong>Preventivo</strong></td>
                                <td><span class="label label-danger">Sin despachar</span> </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>E-7816C</td>
                                <td>Estaca Apodaca</td>
                                <td>María Quiroz</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td>Electrica</td>
                                <td class="text-warning"><strong>Preventivo</strong></td>
                                <td><span class="label label-primary">Despachada</span> </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>E-6435R</td>
                                <td>Amalucan</td>
                                <td>Gerardo Infante</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td>Albañileria</td>
                                <td class="text-warning"><strong>Preventivo</strong></td>
                                <td><span class="label label-info">En proceso</span> </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>E-4321A</td>
                                <td>Cholula</td>
                                <td>Esther Martínez</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td>Contratista</td>
                                <td class="text-warning"><strong>Preventivo</strong></td>
                                <td><span class="label label-primary">Despachada</span> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
