

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Generar Orden de Trabajo</h2>
                
                <div class="form-group col-3">
                    <fieldset disabled="">
                        <label for="disabledTextInput">No de Orden de trabajo</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="E-8927">
                    </fieldset>
                </div>
                                          
                <div id="add-preventivo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Nueva Orden de Trabajo - Rutina preventiva</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Edificio</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Capilla Fresnos</option>
                                                <option value="2">Instituto la Paz</option>
                                                <option value="3">Estaca La libertad</option>
                                        </select>
                                    </div> 
                                    
                                    <div class="form-group col-6">
                                        <label>Técnico asignado</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Mateo Perez</option>
                                                <option value="2">Marcos Lopez</option>
                                                <option value="3">Lucas Ramos</option>
                                        </select>
                                    </div>
                                    
                            
                                    <div class="demo-radio-button col-md-12">
                                        <label> Prioridad</label>
                                        <input name="group5" type="radio" id="radio_30" class="with-gap radio-col-red" checked="">
                                        <label for="radio_30">Alta</label>
                                        
                                        <input name="group5" type="radio" id="radio_35" class="with-gap radio-col-yellow">
                                        <label for="radio_35">Media</label>
                            
                                        
                                        <input name="group5" type="radio" id="radio_40" class="with-gap radio-col-light-green">
                                        <label for="radio_40">Baja</label>
                                        
                                    </div>
                            
                                    <div class="form-group col-6">
                                        <label>Supervisor</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Pablo Gomez</option>
                                                <option value="2">Andrés Yañes</option>
                                                <option value="3">Tomás Hernandez</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label >Fecha de mantenimiento</label>
                                        <div class="col-10">
                                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Rutina a ejecutar</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Pruebas eléctricas</option>
                                                <option value="2">Video</option>
                                                <option value="3">Llaves de agua</option>
                                                <option value="4">Llenado de pila bautismal</option>
                                                <option value="5">Audio</option>
                                        </select>
                                    </div>
                            
                                    
                                    <div class="demo-checkbox">
                                        <div >
                                                <label>Tareas a realizar</label>
                                        </div>
                                        <div class="demo-checkbox">
                                            <input type="checkbox" id="md_checkbox_1" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_1" class="col-6">Revision de sonido</label>
                                            <input type="checkbox" id="md_checkbox_2" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_2" class="col-6">Revision de luces interiores</label>
                                            <input type="checkbox" id="md_checkbox_3" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_3" class="col-6">Revisión de Bomba de agua</label>
                                            <input type="checkbox" id="md_checkbox_4" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_4" class="col-6">Revisión de contactos</label>
                                            <input type="checkbox" id="md_checkbox_5" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_5" class="col-6">Revisión de luces exteriores</label>
                                            <input type="checkbox" id="md_checkbox_6" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_6" class="col-6">Medición de voltages</label>
                                            <input type="checkbox" id="md_checkbox_7" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_7" class="col-6">Revisón de clima y ventiladores</label>
                                            
                                        </div>
                                        
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" data-dismiss="modal">Generar Orden de Trabajo</button>
                            
                            
                                </div>
                            </div>
                           
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div id="add-correctivo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Nueva Orden de Trabajo - Correctivo</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Edificio</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Capilla Fresnos</option>
                                                <option value="2">Instituto la Paz</option>
                                                <option value="3">Estaca La libertad</option>
                                        </select>
                                    </div> 
                                    
                                    <div class="form-group col-6">
                                        <label>Técnico asignado</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Mateo Perez</option>
                                                <option value="2">Marcos Lopez</option>
                                                <option value="3">Lucas Ramos</option>
                                        </select>
                                    </div>
                                    
                            
                                    <div class="demo-radio-button col-md-12">
                                        <label> Prioridad</label>
                                        <input name="group5" type="radio" id="radio_30" class="with-gap radio-col-red" checked="">
                                        <label for="radio_30">Alta</label>
                                        
                                        <input name="group5" type="radio" id="radio_35" class="with-gap radio-col-yellow">
                                        <label for="radio_35">Media</label>
                            
                                        
                                        <input name="group5" type="radio" id="radio_40" class="with-gap radio-col-light-green">
                                        <label for="radio_40">Baja</label>
                                        
                                    </div>
                            
                                    <div class="form-group col-6">
                                        <label>Supervisor</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Pablo Gomez</option>
                                                <option value="2">Andrés Yañes</option>
                                                <option value="3">Tomás Hernandez</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label >Fecha de mantenimiento</label>
                                        <div class="col-10">
                                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                        </div>
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Area de trabajo</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Electrica</option>
                                                <option value="2">Albañilería</option>
                                                <option value="3">Plomería</option>
                                                <option value="3">Audio</option>
                                                <option value="3">Video</option>
                                        </select>
                                    </div> 
                            
                                    
                                    <div class="form-group col-6">
                                        <label>Refacción a cambiar</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Micrófono</option>
                                                <option value="2">Bocina</option>
                                                <option value="3">Micrófono inalámbrico</option>
                                                <option value="3">Cableado</option>
                                                <option value="3">Plugs</option>
                                        </select>
                                    </div> 

                                    <hr>
                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" data-dismiss="modal">Generar Orden de Trabajo</button>
                            
                            
                                </div>
                            </div>
                           
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div id="add-evento" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Nueva Orden de Trabajo - Evento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Edificio</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Capilla Fresnos</option>
                                                <option value="2">Instituto la Paz</option>
                                                <option value="3">Estaca La libertad</option>
                                        </select>
                                    </div> 
                                    
                                    <div class="form-group col-6">
                                        <label>Técnico asignado</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Mateo Perez</option>
                                                <option value="2">Marcos Lopez</option>
                                                <option value="3">Lucas Ramos</option>
                                        </select>
                                    </div>
                                    
                            
                                    <div class="demo-radio-button col-md-12">
                                        <label> Prioridad</label>
                                        <input name="group5" type="radio" id="radio_30" class="with-gap radio-col-red" checked="">
                                        <label for="radio_30">Alta</label>
                                        
                                        <input name="group5" type="radio" id="radio_35" class="with-gap radio-col-yellow">
                                        <label for="radio_35">Media</label>
                            
                                        
                                        <input name="group5" type="radio" id="radio_40" class="with-gap radio-col-light-green">
                                        <label for="radio_40">Baja</label>
                                        
                                    </div>
                            
                                    <div class="form-group col-6">
                                        <label>Supervisor</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Pablo Gomez</option>
                                                <option value="2">Andrés Yañes</option>
                                                <option value="3">Tomás Hernandez</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label >Fecha de mantenimiento</label>
                                        <div class="col-10">
                                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                        </div>
                                    </div>

                                    <div class="form-group col-6">
                                        <label>Area de trabajo</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Electrica</option>
                                                <option value="2">Albañilería</option>
                                                <option value="3">Plomería</option>
                                                <option value="3">Audio</option>
                                                <option value="3">Video</option>
                                        </select>
                                    </div> 
                            
                                    
                                    <div class="form-group col-6">
                                        <label>Tipo de evento</label>
                                        <select class="custom-select col-6" id="inlineFormCustomSelect">
                                                <option selected="">Seleccione...</option>
                                                <option value="1">Visita de autoridad</option>
                                                <option value="2">Conferencia de Misión</option>
                                                <option value="3">Conferencia multi-estacas</option>
                                                <option value="3">EFY</option>
                                                <option value="3">Convención JAS</option>
                                        </select>
                                    </div> 

                                    <div class="demo-checkbox">
                                        <div >
                                                <label>Tareas a realizar</label>
                                        </div>
                                        <div class="demo-checkbox">
                                            <input type="checkbox" id="md_checkbox_1" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_1" class="col-6">Revision de sonido</label>
                                            <input type="checkbox" id="md_checkbox_2" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_2" class="col-6">Revision de luces interiores</label>
                                            <input type="checkbox" id="md_checkbox_3" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_3" class="col-6">Revisión de Bomba de agua</label>
                                            <input type="checkbox" id="md_checkbox_4" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_4" class="col-6">Revisión de contactos</label>
                                            <input type="checkbox" id="md_checkbox_5" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_5" class="col-6">Revisión de luces exteriores</label>
                                            <input type="checkbox" id="md_checkbox_6" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_6" class="col-6">Revisión de sistema de video</label>
                                            <input type="checkbox" id="md_checkbox_7" class="chk-col-blue" checked="">
                                            <label for="md_checkbox_7" class="col-6">Revisón de clima y ventiladores</label>
                                            
                                        </div>
                                        
                                    </div>

                                    <hr>
                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" data-dismiss="modal">Generar Orden de Trabajo</button>
                            
                            
                                </div>
                            </div>
                           
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div class="button-group">

                    <button type="button" class="btn btn-warning btn-rounded btn-block" data-toggle="modal" data-target="#add-preventivo">Mantenimiento preventivo - Rutina</button>
                    <button type="button" class="btn btn-danger btn-rounded btn-block" data-toggle="modal" data-target="#add-correctivo">Mantenimiento correctivo - Emergencia</button>
                    <button type="button" class="btn btn-info btn-rounded btn-block" data-toggle="modal" data-target="#add-evento">Evento </button>
                </div>


            </div>
        </div>
    </div>
   
</div>