<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Eventos Proximos</h4>
                <h6 class="card-subtitle">Visitas de Autoridades</h6>
                <div class="table-responsive">
                    <table class="table color-bordered-table primary-bordered-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Evento</th>
                                <th>Autoridad</th>
                                <th>Edificio</th>
                                <th>Fecha</th>
                                <th>Técntico Asignado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Visita</td>
                                <td>Élder Jeffrey R. Holland</td>
                                <td>Arboledas</td>
                                <td>12-12-2022</td>
                                <td>Osvaldo Rios</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Visita</td>
                                <td>Élder Paul B. Pieper</td>
                                <td>Estaca La Libertad</td>
                                <td>24-11-2022</td>
                                <td>Mateo Pérez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Visita</td>
                                <td>Élder Rafael E. PIno</td>
                                <td>Manantiales</td>
                                <td>10-11-2023</td>
                                <td>Ester Martínez</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Visita</td>
                                <td>Élder Rafael E. PIno</td>
                                <td>Instituto Fuertes</td>
                                <td>03-02-2023</td>
                                <td>Lucas Robles</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Visita</td>
                                <td>Élder Rafael E. PIno</td>
                                <td>Bosques de Aragón</td>
                                <td>21-02-2023</td>
                                <td>David Palma</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 