<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a routerLink="otsactivas"> OT's Activas </a></h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Edificio</th>
                                <th>Prioridad</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Fresnos</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td class="text-danger"><strong>Correctivo</strong></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Angelópolis</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td class="text-danger"><strong>Correctivo</strong></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Lomas</td>
                                <td><span class="label label-danger">Alta</span> </td>
                                <td class="text-info"><strong>Visita</strong></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Manantiales</td>
                                <td><span class="label label-warning">Media</span> </td>
                                <td class="text-warning"><strong>Preventivo</strong></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Instituto Juarez</td>
                                <td><span class="label label-warning">Media</span> </td>
                                <td class="text-warning"><strong>Preventivo</strong></td>                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Estaca Apodaca</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td class="text-warning"><strong>Preventivo</strong></td>                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Amalucan</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td class="text-warning"><strong>Preventivo</strong></td>                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Cholula</td>
                                <td><span class="label label-success">Baja</span> </td>
                                <td class="text-warning"><strong>Preventivo</strong></td>                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a routerLink="proxevents"> Eventos Próximos </a></h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Evento</th>
                                <th>Autoridad</th>
                                <th>Edificio</th>
                                <th>Fecha</th>
                                <th>Técntico Asignado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Visita</td>
                                <td>Élder Jeffrey R. Holland</td>
                                <td>Arboledas</td>
                                <td>12-12-2022</td>
                                <td>Osvaldo Rios</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Visita</td>
                                <td>Élder Paul B. Pieper</td>
                                <td>Estaca La Libertad</td>
                                <td>24-11-2022</td>
                                <td>Mateo Pérez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Visita</td>
                                <td>Élder Rafael E. PIno</td>
                                <td>Manantiales</td>
                                <td>10-11-2023</td>
                                <td>Ester Martínez</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Visita</td>
                                <td>Élder Rafael E. PIno</td>
                                <td>Instituto Fuertes</td>
                                <td>03-02-2023</td>
                                <td>Lucas Robles</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Visita</td>
                                <td>Élder Rafael E. PIno</td>
                                <td>Bosques de Aragón</td>
                                <td>21-02-2023</td>
                                <td>David Palma</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a routerLink="month"> Rutinas vencidas  </a></h4>
                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Edificio</th>
                                <th>Rutina</th>
                                <th>Fecha programada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Manantiales</td>
                                <td>Alumbrado</td>
                                <td>09-08-2022</td>
                                
                            </tr>
                            <tr>
                                <td>Arboledas</td>
                                <td>Audio</td>
                                <td>12-08-2022</td>
                                
                            </tr>
                            
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

